@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

@theme {
  --color-primary : #F84565;
  --color-primary-dull : #D63854;
}

* {
  /* margin: 0; */
  /* padding: 0; */
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
  scrollbar-width: thin;
  scrollbar-color: #787777 #1e1e1e;
}

html, body {
  height: 100%;
  width : 100%;
  background-color: #09090b;
  color: white;
  scroll-behavior: smooth;
}

.no-scrollbar {
  scrollbar-width: none;
}